body{
    background: #E5E5E5;
}
strong{
    font-weight: bold;
}
.topo{
    display: none;
}
.topo-mobile {
    height: 54px;
    width: 100vw;

    background-color: #ffffff;

    border: 1px solid #DBDBDB;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stories {
    height: 118px;


    border: 1px solid #DBDBDB;

    display: flex;
    justify-content: flex-start;

    overflow: scroll;
    
    /* hide scrollbar but allow scrolling */
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.stories::-webkit-scrollbar{
    display: none; /* for Chrome, Safari, and Opera */
}

ion-icon {
    margin: auto 5%;
    
    font-size: 20px;
}

.story {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: space-around;

    margin: auto 2%;
}

.avatar {
    width: 56px;
    height: 56px;
    background-image: url('/images/stories_background.jpg');
    background-size: 100% 100%;
    border-radius: 100%;

    margin-bottom: 5%;
}

.user-name {
    font-size: 12px;
    margin-top: 8px;

}

.post {
    background-color: #ffffff;

    margin-bottom: 60px;

    border: 1px solid #DBDBDB;
}

.top-bar {
    display: flex;
    justify-content: space-between;
}

.top-bar .user {
    display: flex;
    align-items: center;

}

.top-bar .user-name {
    font-size: 14px;
}

.top-bar .avatar {
    width: 32px;
    height: 32px;
    margin: 10px;
}
.container{
    width: 100vw;
}
.content{
    display: flex;
    justify-content: center;
}
.content img {
    max-width: 100%;
    max-height: 80vh;

    
}

.icons {
    display: flex;
    justify-content: space-between;

    margin: 0 10px;
}

.icons ion-icon {
    margin: auto 5px auto 0;

}


.interactions{
    font-size: 14px;
   

    display: flex;
    align-items: center;

    margin: 10px;
}
.interactions .avatar{
    width: 20px;
    height: 20px;

    margin: auto 5px auto 0;
}

.feet-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #ffffff;

    height: 64px;
    width: 100vw;

    position: fixed;
    bottom: 0;
    left: 0;
}

@media (min-width: 614px) {
    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .topo-mobile{
        display: none;
    }
    .topo{

    height: 54px;
    width: 100%;

    background-color: #fafafa;

    border: 1px solid #DBDBDB;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    }
    .topo > div{
       display: flex;
    }
    .topo ion-icon{
        margin: auto 8px;
    }

    .left-top{
        margin-left: 16px;
    }
    .right-top{
        margin-right: 16px;
    }
    .container{
      width: 614px;
  }
  input{
    text-align: center;
    width: 215px;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
  }
    
  .stories{
      width: 614px;

      margin: 88px 24px;

      background: #fafafa;
  }

  .feet-bar{
      display: none;
  }
  video {
      max-width: 100%;
  }
}